@charset "UTF-8";
@charset "iso-8859-15";
@import url(//db.onlinewebfonts.com/c/30294b8401300f8aa798b2a02892bd2e?family=Futura+LT);
@import url(//db.onlinewebfonts.com/c/6daaeacf369f5c15f3308f379ab05b77?family=Futura+LT) @import url(//db.onlinewebfonts.com/c/5520b2b875202fac53dc536bc7aca367?family=Futura);
@import url(//db.onlinewebfonts.com/c/12fd3b0603f2ab22d6bf2bed80521841?family=Futura+LT);

@font-face {
    font-family: "Futura LT";
    src: url("//db.onlinewebfonts.com/t/12fd3b0603f2ab22d6bf2bed80521841.eot");
    src: url("//db.onlinewebfonts.com/t/12fd3b0603f2ab22d6bf2bed80521841.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/12fd3b0603f2ab22d6bf2bed80521841.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/12fd3b0603f2ab22d6bf2bed80521841.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/12fd3b0603f2ab22d6bf2bed80521841.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/12fd3b0603f2ab22d6bf2bed80521841.svg#Futura LT") format("svg");
}

.footer {
    font-size: 0.8em;
    margin-top: 2px;

}

.takes-bg-hero {

    background-color: #FAFAFA;
}


.underline {
    border: 0;
    height: 0;
    border-top: 1px solid #d9d9d9;


}

* {

    font-family: 'Futura LT', sans-serif;

}

html,
body {


    margin: 0;
    height: 100%;

}



.navstyle {
    font-family: 'Futura LT';
    font-size: 0.9em !important;
    font-weight: 00 !important;
    color: black !important;
    padding-right: 10vw;

}

@media only screen and (min-width: 641px) {



    .hor-line{

        border-top: 0.01rem solid grey;
    margin-top: 11px!important;
    height: 0.5px;
        margin-right: 0px!important;
    }


    .projects{

        font-family: Futura;
        font-size:0.7rem;
        color:black;
    }


    .design {

        /*    margin: 0px !important;*/
        padding-right: 0 !important;
    }





    .active-page {

        padding-left: 6%;
        border-left: 2px solid black;
        color: black !important;

    }





    .project-section {

        margin-top: 45px !important;
    }

    .navstyle1 {
        font-family: 'Futura';
        font-size: 0.8em !important;
        font-weight: 00 !important;
        color: #adacac;
        padding-right: 10vw;

    }



    .project-cards {


        height: 180px;
        width: 95%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        cursor: pointer;




    }


    .content{


        background-color: #FAFAFA;
        height: 80px;
        width: 95%;
    }

    .content div{

        padding :20px;
    }


    .vd-design {

        height: 180px;
        width: 95%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        cursor: pointer;

    }


    .vd {

        margin-left: 40px;
    }



    .bg-one {
        background-image: url(./img/BI.png);
    }

    .bg-two {
        background-image: url(./img/Handl.png);
    }

    .bg-three {
        background-image: url(./img/takes-cover.png);
    }

    .bg-four {
        background-image: url(./img/cover-gaze.png);
    }

    .bg-five {
        background-image: url(https://66.media.tumblr.com/bde4a3ed57728b188a728296e3c5af21/tumblr_ph331sCrFg1w1imzxo1_1280.png);
        background-position: center;
    }

    .bg-six {
        background-image: url(./img/book-cover/art.png);
        background-position: center;
    }

    .bg-7 {
        background-image: url(./img/LRMS.svg);
        background-position: center;
    }

    .bg-8 {
        background-image: url(./img/WineAR.png);
        background-position: center;
    }



}



@media only screen and (max-width: 641px) {
    .design {

        /*    margin: 0px !important;*/
        padding-right: 0 !important;
    }





    .active-page {

        padding-left: 6%;
        border-left: 2px solid black;
        color: black !important;

    }




    .project-section {
/*

        margin-top: 45px !important;
*/

    }

    .navstyle1 {
        font-family: 'Futura';
        font-size: 0.9em !important;
        font-weight: 00 !important;
        color: #CCC;
        padding-right: 10vw;

    }






    .project-cards {


        height: 180px;
        width: 95%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        cursor: pointer;
 margin-bottom: 150px !important;



    }





    .vd-design {

        height: 230px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        cursor: pointer;

    }



    .vd {

        margin-left: 40px;
    }



    .bg-one {
        background-image: url(./img/BI.png);
    }

    .bg-two {
        background-image: url(./img/Handl.png);
    }

    .bg-three {
        background-image: url(./img/takes-cover.png);
    }

    .bg-four {
        background-image: url(./img/cover-gaze.png);
    }

    .bg-five {
        background-image: url(https://66.media.tumblr.com/bde4a3ed57728b188a728296e3c5af21/tumblr_ph331sCrFg1w1imzxo1_1280.png);
        background-position: center;
    }

    .bg-six {
        background-image: url(./img/book-cover/art.png);
        background-position: center;
    }

    .bg-7 {
        background-image: url(./img/LRMS.png);
        background-position: center;
    }

    .bg-8 {
        background-image: url(./img/WineAR.png);
        background-position: center;
    }




}

.column img{


}

.spacing {
    margin-top: 80px !important;
}



.parafont {
    font-family: 'Futura LT';
    font-size: 1em !important;

    color: black !important;
}

.lightgrey {

    background-color: #fbfbfb !important;
}

.parafont1 {
    font-family: 'Futura LT';
    font-size: 1em !important;

    color: grey !important;
    margin-bottom: 80px;
/*    margin-top: 20px !important;*/



}

.subtitlefont {

    font-family: 'Futura' !important;
    font-size: 1em !important;
/*    font-weight: 800!important;*/
    color: black !important;
    /* border-bottom: 2px solid black; */

    margin-bottom: 20px;

}
.has-carousel{
    border:none!important;
}
.slider-navigation-next{
    background-color: black!important;
}

.slider-navigation-previous{
    background-color: black!important;
}
.underline-index {
    width: 100%;
    border-top: 1px solid #f3f3f3;
    height: 0;
}

.underline-moves {

    width: 0;
    margin-top: -25px !important;
    border-top: 1px solid #0263ff;
    height: 0;
}




.subtitlefont1 {
    font-family: 'Futura LT' !important;
    font-size: 0.9em !important;
    font-weight: bold !important;
    color: black !important;



}

.resize-img {

    width: 40vw !important;
    background-color: #f9f7f7;

}

.project-title {


    font-family: Futura;
    color: black;
    font-size: 0.8rem !important;
    font-weight: 200;
    margin-bottom:4px!important;

}

.subs {
    font-family: Futura;
    font-size: 0.55rem !important;
    color: grey;


}




.cover-images {

    width: 100% !important;
    background-color: #fafafa;
    /*
    border: 1px solid #e8e8e8 !important;
    border-radius: 3px;
    box-shadow: 1px 2px 5px #eaeaea;
*/
}

.logo {

    font-family: 'Futura LT';
    font-size: 0.8em !important;
    font-weight: 00 !important;
    color: black !important;
    padding-top:0!important;


}

.books img{



}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;

    width: auto;
}
.story{

    margin-right: 20px!important;
}

.story p{

    border-top: 1px solid grey;
    padding-top: 10px;
    color:grey!important;
}
.about{


    position: fixed;
    z-index: 9999;
    top:0px;
    background-color: #FAFAFA;
    width: 100%;
    overflow-y: hidden!important;
   height:100vh;
}

.fixit{

    position: fixed;
    left:4.16rem;
}

.pronounce {

    width: 20px;
    margin-bottom: -5px;

}


.socialmedia span{

    margin-right: 10px;
    cursor:pointer;
}

.navstyle1:hover {

    padding-left: 3%;
    margin-left: 10px;
    transition: 0.34s ease;
    cursor:pointer;
}

.category {
    font-size: 0.6rem;
    background-color: #f7f7f7;
    color: grey;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-family: Futura LT;

    cursor: pointer !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 20px;
    z-index: 100;


}

.books div {
    margin: 30px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    object-fit: cover;



}


.inspire{

   color: black;
    background-color: #FAFAFA;
    font-size: 0.8rem;
    font-family: Futura;
    margin-right: 40px;
    padding: 20px;

}

.books div img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    /*    position: relative;*/
    margin: 0 !important;




}

.books h6 {
    text-align: left;
    font-family: Futura;
    font-size: 1.2rem;
    color: black;
    text-transform: capitalize;
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;

}

.author {

    text-align: left;
    font-family: Futura;
    font-size: 0.7rem;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    color: grey;
}

.quote {
    font-family: Futura;
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 15px;
    font-style: italic;
    color: black;
    /*    line-height: 16px;*/



}

.recom {
    font-family: Futura LT;
    font-size: 0.8rem;
    text-align: left;
    color: grey;
}

.aboutme {
    color: black;
    font-size: 0.8rem;
    font-weight: light;

    font-family: Futura LT !important;

}


.books-red {

    text-align: left;
    font-family: Futura LT;
    color: black;
    margin-bottom: 100px;

}

.books-red div img {

    height: 350px;
    object-fit: cover;

}

.img-div {

    height: 350px;
    object-fit: cover;

    margin-top: 80px;
}

.books-red h6 {

    margin-top: 20px;

}



.high-light {
    color: darkgrey;
}

.active {
    background-color: blue;
    color: white;


}





@media only screen and (min-width: 641px) {

    .line-dotted {
        transform: rotate(-90deg) translate(-11vw, 0);
        width: 90%;
        text-align: center;
        border-top: 1px solid #000;
        line-height: 0.1em;

    }

    .line-dotted span {
        background: #fff;
        padding: 0 10px;
    }

}

@media only screen and (max-width: 640px) {

    .line-dotted {

        margin-bottom: 0;


    }

    .line-dotted span {
        margin-bottom: 0;
    }
}

/* .high-light{
  color: #007DFF ;

}
 */
.mainpage {




}

.light-grey {

    background-color: #F7F7F7;
}

.mockup {
    border-radius: 1vw;
    box-shadow: 7px 9px 20px 1px #0b16691c;
    width: 67%;

}

.peach-bg {
    background-color: #fde3df !important;

    background-size: 200% 100%;
    background-position: left bottom;
}



#my-name {
    font-family: 'Futura PT', serif;
    font-weight: 200;
    text-align: center;
    color: black;
    font-size: 1.6vw;
}

#my-name:after {

    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 2%;
    /* Change this to whatever width you want. */
    border-bottom: 0.1vw solid black;
    padding-top: 1vw;
}
.line-anime{
    margin-top:100px;
}
.
.navbar-dropdown {
    box-shadow: none !important;
    border-top: 1px solid black !important;
    padding: 9px;
    background-color: #fafafa !important;
}

.navbar-dropdown a {

    margin-bottom: 15px;

}

.navbar-dropdown a:hover {

    background-color: #f7f7f7 !important;


}

.nav-border {
    border-bottom: 0.5px solid #f2f0ee;
}

.project-info {

    font-family: Futura LT;
    color: black;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-bottom: 100px;
    padding-right:60px;

}

.divide {
    border: 0;
    height: 0;
    border-top: 0.7px solid rgba(0, 0, 0, 0.1);

}

#footer-style {

    left: 0;
    bottom: 0;
    margin-top: 100px;
    text-align: center;
}





.footer-text {
    font-family: Futura LT;
    font-weight: 100;
    color: grey;
    font-size: 12px;

}


#work ul li:not(:last-child) {

    margin-bottom: 1.2em;

}







.heading-para {

    font-family: 'Futura PT', sans-serif;
    font-size: 1em;
}


/* ------------------------------ gist css---------------------
 */

.page-title {
    font-family: Futura PT;
    font-size: 1.8vw;
    font-weight: 500;
    margin-top: 5%;
}

.page-title:after {

    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    /* margin: 0 auto; */
    /* This will center the border. */
    width: 10%;
    /* Change this to whatever width you want. */
    border-bottom: 0.4vw solid #1900ff;
    padding-top: .5vw;

}

.page-title-sub {

    font-family: Futura PT;
    font-size: 1.1em;
    font-weight: 200;
    color: grey;
    margin-top: 3%;

}

.sub-head {

    font-family: Futura PT;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 10%;
    margin-bottom: 10%;

}

.within-50 {

    max-width: 100%;
    max-height: 100%;

}

.lines {
    background-size: 16.66vw;
    background-image: linear-gradient(to right, #f3f3f3 1px, transparent 1px);

}



/*
handel specific */

.mockup-handel {

    /* box-shadow:0px 1px 4px 4px #6767672e; */
    border-radius: .7vw;
}


/* button scroll to top */


#button {
    display: inline-block;
    background-color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\2191";
    font-family: Futura;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.background-light {

    background-color: #fbfbfb;
}

.image {

    /* box-shadow: 1px 1px 6px #0000005e; */
    border-radius: 5px;
    margin-bottom: 100px !important;
    margin-top: 30px;
}


.video-style {

    box-shadow: 1px 1px 6px #0000005e;
    border-radius: 10px;
}

.iframe_display {
    visibility: hidden
}
